services:
  backend:
    image: "potato-launcher-backend"
    build:
      context: .
      dockerfile: backend.dockerfile
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    volumes:
      - ./out:/backend/out # тут вопросики к структуре папок
      - ./backend/db.json:/backend/db.json
      - backend_modpacks:/backend/app/instance_builder/modpacks-saves

  frontend:
    image: my_frontend
    ports:
      - "5173:5173"
    env_file:
      - ./frontend/.env

volumes:
  backend_db:
  backend_modpacks: