services:
  backend:
    image: ghcr.io/petr1furious/potato-launcher-backend:latest
    container_name: potato-launcher-backend
    user: "${PUID:-1000}:${PGID:-1000}"
    environment:
      ADMIN_JWT_SECRET: ${ADMIN_JWT_SECRET}
      ADMIN_SECRET_TOKEN: ${ADMIN_SECRET_TOKEN}
      DOWNLOAD_SERVER_BASE: ${DOWNLOAD_SERVER_BASE}
      RESOURCES_URL_BASE: ${RESOURCES_URL_BASE-}
      REPLACE_DOWNLOAD_URLS: ${REPLACE_DOWNLOAD_URLS:-false}
      LAUNCHER_NAME: ${LAUNCHER_NAME:-Potato Launcher}
    volumes:
      - ./state/metadata:/data/metadata
      - ./state/uploaded-instances:/data/uploaded-instances
      - ./state/generated:/data/generated
      - ./state/workdir:/data/workdir
      - ./state/launcher:/data/launcher

  filebrowser:
    image: filebrowser/filebrowser:latest
    container_name: potato-launcher-filebrowser
    user: "${PUID:-1000}:${PGID:-1000}"
    command:
      - --noauth
      - --database=/database/filebrowser.db
      - --root=/srv
      - --port=80
      - --baseurl=/filebrowser
    volumes:
      - ./state/uploaded-instances:/srv
      - ./state/filebrowser-db:/database

  nginx:
    image: ghcr.io/petr1furious/potato-launcher-frontend:latest
    container_name: potato-launcher-nginx
    depends_on:
      - backend
      - filebrowser
    ports:
      - "8000:80"
    volumes:
      - ./state/generated:/var/www/generated:ro
      - ./state/launcher:/var/www/launcher:ro
