services:
  backend:
    image: potato-launcher-backend
    container_name: potato-launcher-backend
    build:
      context: .
      dockerfile: backend.dockerfile
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/:/backend/
      - ./modpacks-saves:/modpacks-saves
      - ./generated:/generated
      - ./workdir:/workdir

  frontend:
    image: potato-launcher-frontend
    container_name: potato-launcher-frontend
    build:
      context: .
      dockerfile: frontend.dockerfile
    env_file:
      - ./frontend/.env

  nginx:
    image: nginx:alpine
    container_name: potato-launcher-nginx
    depends_on:
      - backend
      - frontend
    ports:
      - "8000:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./generated:/var/www/generated:ro
