services:
  backend:
    image: potato-launcher-backend
    container_name: potato-launcher-backend
    build:
      context: .
      dockerfile: backend/Dockerfile
    user: "${PUID:-1000}:${PGID:-1000}"
    environment:
      ADMIN_JWT_SECRET: ${ADMIN_JWT_SECRET}
      ADMIN_SECRET_TOKEN: ${ADMIN_SECRET_TOKEN}
      DOWNLOAD_SERVER_BASE: ${DOWNLOAD_SERVER_BASE}
      RESOURCES_URL_BASE: ${RESOURCES_URL_BASE-}
      REPLACE_DOWNLOAD_URLS: ${REPLACE_DOWNLOAD_URLS:-false}
      EXEC_BEFORE_ALL: ${EXEC_BEFORE_ALL-}
      EXEC_AFTER_ALL: ${EXEC_AFTER_ALL-}
      LAUNCHER_NAME: ${LAUNCHER_NAME:-Potato Launcher}
    volumes:
      - ./state/metadata:/data/metadata
      - ./state/uploaded-instances:/data/uploaded-instances
      - ./state/generated:/data/generated
      - ./state/workdir:/data/workdir
      - ./state/launcher:/data/launcher

  nginx:
    image: potato-launcher-frontend
    container_name: potato-launcher-nginx
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_BASE_URL: ${VITE_API_BASE_URL}
        VITE_LAUNCHER_NAME: ${LAUNCHER_NAME:-Potato Launcher}
        VITE_GITHUB_URL: ${VITE_GITHUB_URL}
    depends_on:
      - backend
    ports:
      - "8000:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./state/generated:/var/www/generated:ro
      - ./state/launcher:/var/www/launcher:ro
