services:
  backend:
    image: "potato-launcher-backend"
    build:
      context: .
      dockerfile: backend.dockerfile
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    volumes:
      - ./out:/backend/out
      - backend_db:/backend/db.json
      - backend_modpacks:/backend/app/instance_builder/modpacks-saves
