version: '3.8'

services:
  backend:
    image: "my_backend"
    #build:
    #  context: .
    #  dockerfile: backend.dockerfile
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    volumes:
      - ./generated:/app/generated
