services:
  backend:
    image: potato-launcher-backend
    container_name: potato-launcher-backend
    build:
      context: .
      dockerfile: backend/Dockerfile
    environment:
      ADMIN_JWT_SECRET: ${ADMIN_JWT_SECRET}
      ADMIN_SECRET_TOKEN: ${ADMIN_SECRET_TOKEN}
      DOWNLOAD_SERVER_BASE: ${DOWNLOAD_SERVER_BASE}
      RESOURCES_URL_BASE: ${RESOURCES_URL_BASE-}
      REPLACE_DOWNLOAD_URLS: ${REPLACE_DOWNLOAD_URLS:-false}
      EXEC_BEFORE_ALL: ${EXEC_BEFORE_ALL-}
      EXEC_AFTER_ALL: ${EXEC_AFTER_ALL-}
    volumes:
      - ./metadata:/data/metadata
      - ./uploaded-modpacks:/data/modpacks
      - ./generated:/data/generated
      - ./workdir:/data/workdir

  frontend:
    image: potato-launcher-frontend
    container_name: potato-launcher-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_BASE_URL: ${VITE_API_BASE_URL}

  nginx:
    image: nginx:alpine
    container_name: potato-launcher-nginx
    depends_on:
      - backend
      - frontend
    ports:
      - "8000:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./generated:/var/www/generated:ro
      - ./launcher-binaries:/var/www/launcher:ro
